@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap')

$sand: #eaddcd
$ocean-blue: #114260
$honey-gold: #ffbc10
$black: #252525

section

    h1
        font-family: "Anek Malayalam", sans-serif
        font-size: clamp(28px, 4vw, 48px)

    h3
        font-family: "Anek Malayalam", sans-serif
        font-size: clamp(20px, 3vw, 32px)

    p
        font-family: "Roboto", sans-serif
        font-size: 18px
